@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --font: "Open Sans", serif;
    --fontHeading: "Roboto", sans-serif;

    --blue: #0b2c3d;
    --blueCheck: #2D4A58;
    --blueIcons: #152E3A;
    --blueFooter: #171B2A;
    --orange: #FFBC05;
    --gray: #E4ECF2;
    --grayFooter: #282B38;
    --pink: #FFF2F0;
    --red: #ff0000;
    --white: #FFF;
    --black: #000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
}
.container{
    width: min(90%, 120rem);
    margin: auto;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
}
p, span, a, li{font-family: var(--font);}
h1, h2, h3{font-family: var(--fontHeading); font-weight: 800;}
ul{list-style-type: none;}

.header {
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bg {
    background-color: var(--blue);
    padding: 0.5rem 0;
    width: 100%;
    z-index: 1000;
    position: relative; 
}
.header .info {
    font-size: 0.9em;
    cursor: pointer;
}
.header .social-icons {
    display: flex;
    gap: 2rem;
}
.social-icons i{
    line-height: unset;
    cursor: pointer;
}
.quote{margin: 0 0 0 5rem;}
.quote a{
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
}
.menu {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__links{
    color: var(--orange);
    font-size: 1.8rem;
    font-weight: 500;
}
.menu .nav {
    display: flex;
    gap: 20px;
}
.menu-bg {
    background-color: var(--white); 
    width: 100%;
    z-index: 1000;
    position: relative; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: position 0.3s ease, top 0.3s ease; 
}
.menu-fixed {
    position: fixed; 
    top: 0; 
    left: 0;
}
.icons i{
    line-height: unset;
    color: var(--orange);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hamburger i{
    color: var(--black);
    display: none;
}
.menu .icons {
    display: flex;
    gap: 10px;
}
.menu .icons .cart {
    position: relative;
}
.menu .icons .cart::after {
    content: "2";
    position: absolute;
    top: -5px;
    right: -10px;
    background: orange;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8em;
}

/*mobile*/
.mobile-menu {
    display: flex; 
    flex-direction: column;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%); 
    transition: transform 0.3s ease; 
    z-index: 9999;
}
.mobile-menu.active {
    transform: translateX(0); /* muestra el menú*/
}
.mobile-menu .close-btn {
    font-size: 1em;
    cursor: pointer;
}
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid var(--gray);
    padding: 0 0 2rem 0;
}
.nav-links a {
    color: black;
    font-size: 1em;
}
.search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    position: relative; 
    margin-bottom: 2rem;
}
.search input{
    width: 100%;
    padding: 1.3rem .5rem;
    border: 1px solid var(--gray);
}
.search__icon{
    position: absolute;
    z-index: 3;
    right: 0.5rem;
    top: 22%;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding: 0 0 1.5rem 0;
}
.logo-nav img{width: 20rem;}
.account{padding: 1rem 0;}
.account i{
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: unset;
}

.slide__information {
    position: absolute;
    z-index: 10;
    padding: 2rem;
    width: 50%;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    transition: all 0.5s ease; 
}
.slide__subtitle{margin-bottom: 2rem;}
.slide__subtitle span,
.slide__subtitle i{
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 700;
}
.slide__title{
    color: var(--orange);
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.slide__text{
    color: var(--blue);
    font-size: 1.4rem;
    line-height: 2;
}
.slide__btn {
    background-color: var(--blue);
    color: var(--white); 
    font-size: 16px;
    padding: 1.5rem 4rem;
    transition: color 0.3s ease; 
    z-index: 10;
}
.slide__btn:hover {
    color: var(--orange);
    background-color: var(--white);
}
.about-btn{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 0 0;
}
.about__name{width: 15rem;}

/* slide */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 60rem;
    height: 20rem;
    clip-path: inset(0 0 10% 0 round 0 0 10% 10%);
}
.rslides li {
    backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
  
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}
.callbacks{position: relative;}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes/themes.png") no-repeat left top;
  margin-top: -45px;
  margin-left: 30px;
  margin-right: 30px;
}
.callbacks_nav:active {
  opacity: 1.0;
}

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

/* Modal */
.modal-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none;
}
.modal {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    width: 70rem;
    max-width: 90%;
    text-align: center;
    position: relative;
    overflow: auto;
    height: auto;
}
.display{display: flex;}
.icon{
    display: flex;
    justify-content: flex-end;
}
.icon i{
    background-color: var(--red);
    padding: 1rem;
    border-radius: 50%;
    color: #fff;
}
.icon i:hover{cursor: pointer;}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem 0;
}
.form-group input,
.form-group textarea{
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-group textarea{
    resize: none;
    height: 10rem;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.error{
    color: var(--red);
    font-size: 1.4rem;
}
.form-group input.error,
.form-group textarea.error{border-color: var(--red); color: var(--black);}


/* Cards */
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}
.card{
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2rem 4rem;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
}
.card__icon{
    background-color: var(--pink);
    padding: 3.5rem 0;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--blue);
}
.card__title{
    margin: 2rem 0 4rem 0;
    color: var(--orange);
    font-size: 2.2rem;
}
.card__arrow{
    position: absolute;
    bottom: -1.5rem;
    left: calc(50% - 3rem);
    z-index: 2;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--black);
    background-color: var(--white);
}

/* About us */
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 8rem 0;
}
.video-container, .about{width: 100%;}
.video-container {
    min-width: 60rem;
    max-width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 1rem; 
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.about__text-bd{
    color: var(--blue);
    border-left: 2px solid var(--blue);
    padding: 0 0 0 3rem;
    margin: 4rem 0;
}
.about__text{color: var(--blue);}

/* Background img */
.bg-img{
    position: relative;
    background-image: url('../img/company.jpg'); 
    background-size: cover; 
    background-position: center; 
    min-height: 50rem;
    height: 8rem;
    color: var(--white);
    overflow: hidden;
}
.company{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-text,
.company-img{width: 100%;}
.company__title{
    font-size: 5rem;
    margin: 0 0 3rem 0;
}

/* Solutions */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.solution{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: var(--white);
    padding: 4rem 2.5rem;
    transition: box-shadow 0.3s ease;
}
.solution:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15); /* sombra más intensa al hacer hover */
}
.slide__subtitle--center,
.slide__title--center{text-align: center;}
.slide__title--center{font-size: 5rem;}
.solution-pd{padding: 8rem 0;}
.solution__icon{
    font-size: 3rem;
    color: var(--blue);
}
.solution__construction{
    padding: 2rem 0;
    color: var(--orange);
}
.solution__btn{
    text-align: right;
    padding: 3rem 0;
}
.solution__btn a, 
.solution__btn i{color: var(--blue);}
.solution__text{color: var(--blue);}

/* Specialization */
.specialization-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    background-color: var(--blue); 
    color: var(--white);
    height: 50rem;
}
.text-container {
    padding: 0 0 0 10rem;
}
.text-container small {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.text-container,
.image-container{width: 100%;}
.text-container h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.features {
    display: flex;
    gap: 2rem; 
}
.features-list {list-style: none;}
.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.check-icon {
    background-color: var(--blueCheck);
    color: var(--white);
    font-size: 1.4rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    line-height: 2.4rem;
    margin-right: 1rem;
}
.image-container img {
    max-width: 100%;
    height: 50rem;
}

/* Gallery */
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}
.gallery-pd{padding: 5rem 0;}
.gallery-card {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 3rem;
    overflow: hidden;
}
.gallery-card:hover {
    transform: scale(1.05);
    background-color: var(--blue);
}
.gallery-content{text-align: center;}
.gallery-content h3{
    color: var(--orange);
    padding: 2rem 0;
}
.gallery-content p{
    color: var(--blue);
    padding: 0 0 5rem 0;
}
.gallery-card:hover .gallery-content p{color: var(--white)}
.gallery-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color:var(--blueIcons);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery-card:hover .gallery-hover {opacity: 1;}
.social-icons {
    display: flex;
    gap: 1.5rem;
}
.social-icons a {
    color: var(--white);
    font-size: 20px;
    transition: transform 0.3s ease;
}
.gallery__img img{
    filter: grayscale(0%);
    transition: all 0.5s linear;
}
.gallery__img img:hover{filter: grayscale(100%);}

/* Percent */
.percent-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 0 5rem 0;
}
.percent{text-align: center;}
.percent__title{
    color: var(--orange);
    text-transform: uppercase;
    padding: 3rem 0 1rem 0;
    font-size: 2.5rem;
}
.percent__text{
    color: var(--blue);
    padding: 0 0 3rem 0;
}

/* Testimonial */
.carrusel-testimonial {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    max-width: 500px;
}
.testimonial{
    display: flex;
    gap: 2rem;
}
.profile-pic {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.name {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--orange);
}
.role {
    font-size: 1.2rem;
    color: var(--blue);
}
.stars {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
    justify-content: end;
}
.stars i {
    color: var(--orange);
    font-size: 1.2rem;
}
.carrusel-info{width: 40rem;}
.carrusel-text{
    color: var(--blue);
    padding: 2rem 0;
}

/* Parallax */
.parallax{
    background-image: url(/img/parallax.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 35rem;
    padding: 2rem;
    position: relative;
    margin: 5rem 0;
}
.parallax::before{
    content: "";
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 35rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

/* Blog */
.blog-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0 15rem 0;
}
.blog{
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.blog__meta ul,
.blog__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.blog__btn{margin: 0 0 2rem 0;}
.blog__meta-link ,
.blog__btn-date i,
.blog__btn-link a {color: var(--blue);}
.blog-tile{
    color: var(--orange);
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0 2rem;
}
.blog__figure{
    margin: 0 0 2rem 0;
    overflow: hidden;
}
.blog__figure img{
    transform: scale(1);
    transition: 0.3s linear;
}
.blog__figure img:hover{transform: scale(1.2);}

/* Footer */
.footer-bg{
    background-color: var(--blueFooter);
    position: relative;
    padding: 3rem;
}
.footer-company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    padding: 10rem 0 3rem 0;
}
.footer-company{
    margin: 0 0 1rem 0;
    position: absolute;
    top: -5rem;
    left: auto;
    z-index: 2;
}
.footer__text,
.footer-address{color: var(--white);}
.footer-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.footer__text{padding: 2rem 0;}
.footer__icon-link i{color: var(--white);}
.footer__adrress-li{margin-bottom: 2rem;}
.footer-col,
.footer-col a{color: var(--white);}
.footer__ul li:not(:last-child){margin-bottom: 3rem;}
.footer-col h3{margin-bottom: 3rem;}
.footer-input{
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
    margin: 2rem 0;
}
.footer-input input{
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}
.footer-input .send-button {
    background-color: var(--blue); 
    border: none;
    padding: 1rem;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-input .send-button i {
    font-size: 1.8rem;
}
.footer-input .send-button:hover {
    background-color: #0f1e2e; 
}
.footer__btn-top{
    text-align: right;
}
.footer__btn-top a{
    background-color: var(--orange);
    margin: 2rem 0 0 0;
    padding: 1rem;
    border-radius: 5px;
}
.footer-reserved-bg{
    background-color: var(--grayFooter);
    padding: 1rem 0;
}
.footer-reserved{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-reserved p{color: var(--white);}
.footer-reserved-ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.footer-reserved-ul a{
    color: var(--white);
    font-weight: 500;
}


.currusel-content{padding: 5rem 0 2rem 0;}
/* Responsive styles */


@media (max-width: 768px) {
    .hamburger i{display: block;}
    .menu .nav {
        display: none;
    }
    .menu-fixed{position: relative;}
    .menu .mobile-toggle {
        display: block;
        font-size: 1.5em;
        cursor: pointer;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .about-us{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .company-img{display: none;}
    .company-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container{display: none;}
    .text-container {
        text-align: center;
        padding: 0;
    }
    .features {
        padding: 0 0 0 2rem;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .gallery-hover {opacity: 1;}
    .percent-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
    }
    .display-tb{display: none;}
    .footer-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
